

#name-component {
  font-family: YsabeauSC, serif;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*width: fit-content;*/

  /*background-color: green;*/
}

#name {
  font-size: 1.53em;
}

#j-letter {
  font-size: 3em;
}

#tagline {
  font-family: PlayfairDisplay, serif;
  font-size: 0.8em;
}

#name-tagline-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}